#nav {
  width: 250px;
  margin: auto;
  text-align: center;
}
#game_grid table {
  margin: auto;
  margin-top: 20px;
  border-collapse: collapse;
}

.square {
  width: 50px;
  height: 50px;
  position: relative;
  top: 0;
  left: 0;
  border: 2px dotted grey;
}

.square div {
  width: 10px;
  height: 10px;
  background-color: red;
  position: absolute;
}

.square .topLeft {
  top: -6px;
  left: -6px;
}
.square .topRight {
  top: -6px;
  right: -6px;
}
.square .bottomLeft {
  bottom: -6px;
  left: -6px;
}
.square .bottomRight {
  bottom: -6px;
  right: -6px;
}

#player_grid_wrapper {
  /*width: 600px;*/
  margin: auto;
  display: table;
}

#player_grid_wrapper .your_turn {
  border: 1px solid gold;
}

#player_grid_wrapper > div {
  width: 100px;
  display: inline-block;
  margin: 15px;
  padding: 5px;
}

.player_color {
  display: inline-block;
  margin-left: 15px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.player_color.red {
  background-color: red;
  color: red;
}
.player_color.blue {
  background-color: blue;
  color: blue;
}
.player_color.purple {
  background-color: purple;
  color: purple;
}
.player_color.green {
  background-color: green;
  color: green;
}
.player_color.orange {
  background-color: orange;
  color: orange;
}
.player_color.yellow {
  background-color: yellow;
  color: yellow;
}
